---
layout: default
image: /uploads/background.jpg
---
<!-- Page Content -->
<div id="page-content">
  <!-- Profile -->
  <section id="profile" class="black">

    <div id="profile-bg" class="editable-alpha" data-alpha="40"><img src="{{ page.image }}" alt="" /></div>

    <div class="content padded dark">

      <!-- Top Bar -->
      <div class="top-bar">

        <!-- Social media -->
        <div class="pull-left">
          <span class="hiddend-sm hidden-xs">Check my social media! &nbsp; &nbsp; </span>
          <ul class="social-icons si-pull-up">
            <li><a href="https://twitter.com/{{ site.author.twitter_username }}"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>

        <!-- URL -->
        <div class="pull-right">
          <a href="#" class="hidden-xs">www.megangirard.com</a>
        </div>

      </div>

      <!-- Profile Content -->
      <div class="profile-content">
        <h1 class="short">{{ site.author.name }}</h1>
        <h5>Inspire. <span class="text-primary">Connect.</span> Teach.</h5>
        <a href="#blog" class="btn btn-primary" target="_blank">My Blog</a> <a href="#contact" class="btn btn-default">Contact me</a>
      </div>

      <!-- Bottom Bar -->
      <div class="bottom-bar profile-bottom-bar hidden-xs">

        <!-- Contact List -->
        <ul class="list-inline">
          <li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>{{ site.author.address }}</li>
          <li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          <li><i class="inline-icon icon-before-and-after text-primary fa fa-twitter"></i>{{ site.author.twitter_username }}</li>
        </ul>

      </div>

    </div>

  </section>
  <!-- Profile / End -->

  <!-- Resume -->
  <section id="resume">

    <div class="content padded-short">

      <div class="row">

        <div class="col-lg-4">

          <!-- Box - About Me -->
          <div class="resume-box animated slide-in-top">
            <i class="title-icon text-primary flaticon-speech43"></i>
            <h3 class="editable">Who am I &amp; My teaching philosophy.</h3>
            <p class="lead editable">Hi, I am Megan. Welcome to my site that showcases various aspects of me as a teacher. I am currently a Teacher Candidate at the University of Ottawa- awaiting to start my dream career.</p>
            <p class="editable">Having an inviting and safe learning environment is something I strive for as a teacher. I feel that school is an opportunity for students to learn, grow and express their opinions and beliefs. Creating a safe and inclusive classroom is essential for student growth and development. Offering various teaching strategies allows students to grasp concepts in a way that best meets their needs. I will always do my best to ensure my students succeed; therefore, providing different opportunities for learning and assessment is imperative.&nbsp;<br /><br />Elementary school includes the most important years of an individual's life. Providing students with an environment where they feel safe, allows them to ask questions, seek advice or even just to talk. I want to ensure that whoever I teach and whoever I come across in my school knows that I am there to provide them with the strategies and tools they need in order to succeed in their future.&nbsp;</p>
            <p class="editable">&ldquo;You can teach a student a lesson for a day; but if you can teach him to learn by creating curiosity, he will continue the learning process for as long as he lives&rdquo; ~Clay P Bedford&nbsp;</p>
            <a href="#portfolio" class="btn btn-black">See my portfolio</a> <a href="#contact" class="btn btn-default">Contact me</a>
          </div>

          <!-- Box - Skills & Attributes -->
          <div class="resume-box animated slide-in-left appear-second">
            <i class="title-icon text-primary flaticon-open79"></i>
            <h3 class="editable">Core Competencies&nbsp;</h3>
            <!-- Sinlge skill -->
            <div class="skill">
              <span class="skill-name editable">Experienced Leader</span>
              <div class="skill-bar sb-primary">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-off"></div>
              </div>
            </div>
            <!-- Sinlge skill -->
            <div class="skill">
              <span class="skill-name editable">Flexible and Adaptive</span>
              <div class="skill-bar sb-primary">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
              </div>
            </div>
            <!-- Sinlge skill -->
            <div class="skill">
              <span class="skill-name editable">Prepared and Organized</span>
              <div class="skill-bar sb-primary">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-off"></div>
              </div>
            </div>
            <!-- Sinlge skill -->
            <div class="skill">
              <span class="skill-name editable">Works well Independently and as a Team</span>
              <div class="skill-bar sb-primary">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-6 col-lg-4">

          <!-- Box - Specialities -->
          <div class="resume-box animated slide-in-right">
            <i class="title-icon text-primary flaticon-book82"></i>
            <h3 class="editable">Experience&nbsp;</h3>
            <!-- Speciality -->
            <div class="speciality">
              <i class="speciality-icon text-muted flaticon-home60"></i>
              <div class="speciality-content">
                <h5 class="short editable">Our Lady of Good Counsel (CDSBEO)&nbsp;</h5>
                <p class="speciaity-description editable">Developed, implemented and assessed various units and lessons for Math, Language and Religion (grade 5, 6/7) Participated in parent-teacher conferences<br />Differentiated instruction according to student ability and skill level to ensure student&rsquo;s needs were being met. Integrated technology into lessons on a regular basis to maintain an engaged student body<br />Attended various PD workshops with school staff and participated in all team building activities<br />Collaborated at all monthly staff meetings<br />Used a Growth Mindset approach to learning in all lessons delivered to the class</p>
              </div>
            </div>
            <!-- Speciality -->
            <div class="speciality">
              <i class="speciality-icon text-muted flaticon-home60"></i>
              <div class="speciality-content">
                <h5 class="short editable">Williamstown Public School (UCDSB)</h5>
                <p class="speciaity-description editable">Developed, implemented and assessed various lessons for Math, Science, Physical Education and Language (grade 2/3)<br />Differentiated instruction according to student ability and skill level Implemented various assessment methods for students with IEP&rsquo;s<br />Employed a broad range of instructional techniques to retain student interest and maximize learning</p>
              </div>
            </div>
            <!-- Speciality -->
            <div class="speciality">
              <i class="speciality-icon text-muted flaticon-home60"></i>
              <div class="speciality-content">
                <h5 class="short editable">Ottawa Children's Treatment Centre&nbsp;</h5>
                <p class="speciaity-description editable">Shadowed a Speech-Language Pathologist<br />Assisted in providing therapy to children with a variety of special needs to overcome communication barriers (0-6 years old)<br />Used various tools including: Picture Exchange, Sign Language and Talking Devices to prompt and model communication with children<br />Wrote anecdotal notation to summarize each therapy session and created next steps for subsequent sessions</p>
              </div>
            </div>
          </div>

          <!-- Box - Education & Jobs -->
          <div class="resume-box animated slide-in-left">
            <i class="title-icon text-primary flaticon-document56"></i>
            <h3 class="editable">Education&nbsp;</h3>
            <div class="timeline">
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <div class="event-date editable"><p>September 2015- Current</p></div>
                <div class="event-name editable"><p>Bachelor of Education ~Primary/Junior~&nbsp;</p></div>
                <div class="event-description editable"><p>University of Ottawa&nbsp;</p></div>
              </div>
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <div class="event-date editable"><p>September 2013-April 2015</p></div>
                <div class="event-name editable"><p>Bachelor of Arts ~Child Studies~&nbsp;</p></div>
                <div class="event-description editable"><p>Carleton University&nbsp;</p></div>
              </div>
              <!-- Single event -->
              <div class="timeline-event te-primary">
                <div class="event-date editable"><p>September 2011-April 2013</p></div>
                <div class="event-name editable"><p>Early Childhood Education&nbsp;</p></div>
                <div class="event-description editable"><p>St. Lawrence College</p></div>
              </div>
            </div>
          </div>

        </div>

        <div class="col-md-6 col-lg-4">

          <!-- Box - Languages -->
          <div class="resume-box animated slide-in-right appear-second">
            <i class="title-icon text-primary flaticon-chat25"></i>
            <h3 class="editable">Languages</h3>
            <!-- Single skill -->
            <div class="skill">
              <span class="skill-name editable">English</span>
              <div class="skill-bar sb-primary">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
                <div class="skill-rate-on"></div>
              </div>
            </div>
            <!-- Single skill -->
            <div class="skill">
              <span class="skill-name editable">French&nbsp;</span>
              <div class="skill-bar sb-primary">
                <div class="skill-rate-on"></div>
                <div class="skill-rate-off"></div>
                <div class="skill-rate-off"></div>
                <div class="skill-rate-off"></div>
              </div>
            </div>
          </div>

          <!-- Box - Hobbies -->
          <div class="resume-box animated slide-in-bottom">
            <i class="title-icon text-primary flaticon-heart64"></i>
            <h3 class="editable">Hobbies &amp; Interests</h3>
            <!-- List group -->
            <ul class="list-group">
              <li class="list-group-item editable">Running&nbsp;</li>
              <li class="list-group-item editable">Skiing &amp; Water Skiing</li>
              <li class="list-group-item editable">Baking &amp; Cooking</li>
              <li class="list-group-item editable">Spending time with Family &amp; Friends</li>
            </ul>
          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- Resume / End -->

  <!-- Portfolio -->
  <section id="portfolio">

    <!-- Projects Holder -->
    <div class="projects-holder black dark clearfix">

      {% for project in site.projects %}
        <!-- Single Project -->
        <div class="single-project animated fade-in">
          <div class="project-image">
            <img src="{{ project.thumbnail }}" alt="" />
          </div>
          <div class="project-mask">
            <div class="project-info">
              <div class="project-title">{{ project.title }}</div>
              <div class="project-caption text-primary">{{ project.caption }}</div>
              <div class="project-buttons" data-projectid="{{project.identity}}"><a class="btn btn-primary btn-sm">View Details</a></div>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="content padded project-details">
    {% for project in site.projects %}
      <!-- Project Details -->
      <div id="{{ project.identity }}" class="project-details-view">
          <div class="row">
            <!-- Top Bar -->
            <div class="top-bar">
              <span class="pull-left project-close"><a href="#" class="btn btn-default btn-sm btn-pull-up"><i class="fa fa-times icon-before"></i>Close</a></span>
                <h6 class="pull-right text-muted short">Project Details</h6>
            </div>
          	<div class="col-lg-6">
        			    <div class="long">
                      <h2 class="short">{{ project.title }}</h2>
                      <span class="text-muted">{{ project.caption }}</span>
                  </div>
                  <div class="row">
                      <div class="col-lg-12">
                      	<h5>Project Details</h5>
                        {{ project.content }}
                      </div>
                  </div>

              </div>
              <div class="col-lg-6">
                <img style="display:block; margin: 0 auto;" src="{{ project.image }}" alt="project.title" />
              </div>
          </div>
      </div>
    {% endfor %}
  </div>

  </section>
  <!-- Portfjolo / End -->

  <!-- Blog -->
  <section id="blog">

    <div class="content padded">

      <div class="row">

        <div class="col-lg-12">

          <!-- Post Carousel -->
          <div class="post-carousel animated slide-in-top">
            {% for post in site.posts %}
            <!-- Single Post -->
            <article class="post post-carousel-item">
              <div class="post-image"><img src="{{ post.thumbnail }}" alt="{{ post.title }}" /></div>
              <div class="post-content-holder">
                <div class="post-content">
                  <div class="post-info clearfix">
                    <span class="post-date">{{ post.date | date: "%B %e %Y" }}</span>
                    <div class="post-meta">
                      <span><i class="fa fa-tag"></i><a href="#">{{ post.categories }}</a></span>
                    </div>
                  </div>
                  <div class="post-text">
                    <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
                    {{ post.excerpt }}
                    <a href="{{ post.url }}" class="btn btn-primary btn-sm">Read more</a>
                  </div>
                </div>
              </div>
            </article>
            {% endfor %}
          </div>

          <!-- End Of Section -->
          <div class="end-of-section">

            <!-- Post Carousel Navigation -->
            <div class="post-carousel-control">
              <a class="post-carousel-prev" href="#">Previous</a>
              <a class="post-carousel-next" href="#">Next</a>
            </div>

          </div>

        </div>

      </div>

    </div>

  </section>
  <!-- Blog / End -->

  <!-- Contact -->
  <section id="contact" class="black">

    <!-- Google Map -->
    <div id="google-map" class="animated zoom-out"></div>

    <!-- Contact Content -->
    <div class="content contact-content padded dark animated slide-in-left">
      <i class="title-icon text-primary flaticon-speech43"></i>
      <h2 class="editable">Want to see my CV and References?</h2>
      <!-- Contact List -->
      <ul class="list-unstyled list-unstyled-icons">
        <li><i class="inline-icon icon-before-and-after text-primary fa fa-map-marker"></i>{{ site.author.address }}</li>
        <li><i class="inline-icon icon-before-and-after text-primary fa fa-comment"></i><a href="mailto:{{ site.author.email }}"> {{ site.author.email }} </a></li>
      </ul>
      <br /><br />
      <p><a class="contact-form-trigger-button btn btn-primary">Contact Me</a></p>
      <!-- Bottom Bar -->
      <div class="bottom-bar contact-bottom-bar">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <h5>Check my social media!</h5>
            <!-- Social Icons -->
            <ul class="social-icons medium">
              <li><a href="https://twittter.com/{{ site.author.twitter_username }}"><i class="fa fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <!-- Contact Form -->
    <div id="contact-form-holder" class="dark">
      <div class="contact-form-trigger animated slide-in-right appear-second"><i class="flaticon-mail21"></i></div>
      <form id="contact-form-new" method="post" action="https://www.megangirard.com">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name" required />
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email" required />
        </div>
        <div class="form-group">
          <label>Message:</label>
          <textarea class="form-control" id="message" name="message" rows="3"></textarea>
        </div>
        <input type="hidden" name="_to" value="megan.lafave@hotmail.com" />
        <button type="submit" class="btn btn-default">Submit <i class="icon-after fa fa-chevron-right"></i></button>
      </form>
    </div>

  </section>
  <!-- Contact / End -->
</div>
<!-- Page Content / End -->
