<!-- Header  -->
<header id="nav-content" class="vertical-nav nav-black">

  <!-- Logo -->
  <div class="me-logo">
    <a href="#profile">
      <div class="logo-content">
        <h4 class="short">Mary <strong>Smith</strong></h4>
        <span class="logo-caption">project manager</span>
      </div>
    </a>
  </div>

  <!-- Navigation -->
  <ul class="menu nav me-nav">
    <li class="menu-item active"><a href="#profile"><span>Profile</span><i class="fa fa-user"></i></a></li>
    <li class="menu-item"><a href="#resume"><span>Resume</span><i class="fa fa-pencil"></i></a></li>
    <li class="menu-item"><a href="#portfolio"><span>Portfolio</span><i class="fa fa-desktop"></i></a></li>
    <li class="menu-item"><a href="#blog"><span>Latest Posts</span><i class="fa fa-comment"></i></a></li>
    <li class="menu-item"><a href="#contact"><span>Contact</span><i class="fa fa-phone"></i></a></li>
    <li class="menu-item"><a href="components.html"><span>Components</span><i class="fa fa-bolt"></i></a></li>
  </ul>

  <!-- Copyright -->
  <span class="copyright hidden-md">© 2014 <b>Mary Smith</b>.</span>

</header>
